.container-main{
    width: $main-container;
    padding: 0;
}

.container-middle{
    width: $middle-container;
    padding: 0;
}

.container-small{
    width: $small-container;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}