@import "./variables";
@import "./common";

.container-small {
    margin: auto;
    > div {
        display: inline-block;
        padding-right: 168px;
        margin-top: 80px;
        box-sizing: border-box;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            transition: 0.1;
            transform: scale(1.10);
        }
        > h1 {
            font-size: 32px;
            font-weight: bold;
            color: #eb6383;
            margin-top: 17px;
        }
        > p {
            margin-top: 10px;
        }
    }
    > #last {
        padding-right: 0;
    }
}

.container-middle {
    > #my-carousel {
        background: rgba(235, 99, 131, 0.15);
        border-radius: 10px;
        margin-top: 120px;
        > div {
            text-align: center;
            .slider-image {
                padding-top: 50px;
                width: 100px;
                margin: auto;
                margin-bottom: 40px;
            }
            p {
                font-weight: bold;
                font-size: 21px;
                line-height: 30px;
                text-align: center;
                font-weight: bold;
                padding: 0 150px 0 150px;
            }
            span {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                margin-bottom: 45px;
            }
        }
    }
}

